{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remover aluno</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

    {% include 'includes/header.html' %}

    <div class="form_container">
        <form method="POST" action="{% url 'remover_aluno_view' %}"> {% csrf_token %}
            <h1>Selecione uma aluno para excluir</h2>
            <select name="option_delete_aluno">
                {% for participante in participantes %}
                    
                    <option value={{participante.nome}}>{{participante.nome}}</option>
                    
                {% endfor %}
            </select>
            <br /> <br />  
            <button type="submit" class="btn btn-secondary">Excluir</button>
        </form>
        <br />
        <a href="/" class="btn btn-danger">Voltar</a>
        <br />
    </div>

    {% include "includes/footer.html" %}
</body>
</html>